@media only screen and (max-width: 540px) {
    .vr{
        display: none;
    }
.search-bar::placeholder{
font-size: 18px;
}
}

@media only screen and (max-width: 280px){
    .container{
        width: 100%;
    }
    .search-button{
        font-size: 35px;
    }
}